<footer class="main-footer">
    <div class="container">
        <strong>Copyright &copy; 2018. Product by <a href="/admin/">GetCoins</a>. All rights reserved. <br/></strong>
    </div>
    <!-- /.container -->
</footer>